---
import "../styles/global.css";

import Card from "../components/Card.astro";
import BlogPreview from "../components/BlogPreview.astro";
import { getCollection } from "astro:content";

const { count = 0 } = Astro.props;

let blog = await getCollection("blog");
let trueCount = blog.length;

if (count != 0) {
  blog = blog.slice(0, count);
}
---

<Card title="Blog" className="overflow-auto">
  {
    blog.length == 0 ? (
      <p class="text-neutral-400">none at the moment...</p>
    ) : (
      blog.map((post) => {
        return (
          <BlogPreview
            id={`/blog/${post.id}`}
            title={post.data.title}
            description={post.data.description}
            pubDate={post.data.pubDate}
            modDate={post.data.modDate}
          />
        );
      })
    )
  }
  {
    count != 0 && count < trueCount && (
      <div class="text-right">
        <hr class="border-neutral-300 dark:border-neutral-600" />
        <a href="/blog">
          <p>See More...</p>
        </a>
      </div>
    )
  }
</Card>
