---
import "../../../styles/global.css";

import Card from "../../../components/Card.astro";
import CTFPreview from "./CTFPreview.astro";
import { getCollection } from "astro:content";

const { count = 0 } = Astro.props;

let ctfs = (await getCollection("ctfs")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
let trueCount = ctfs.length;

if (count != 0) {
  ctfs = ctfs.slice(0, count);
}
---

<Card title="CTFs" className="overflow-auto">
  {
    ctfs.length == 0 ? (
      <p class="text-neutral-400">none at the moment...</p>
    ) : (
      ctfs.map((post) => {
        return (
          <CTFPreview
            id={`/ctfs/${post.id}`}
            ctf={post.data.ctf}
            team={post.data.team}
            rank={post.data.rank}
            points={post.data.points}
            date={post.data.date}
          />
        );
      })
    )
  }
  {
    count != 0 && count < trueCount && (
      <div class="text-right text-sm">
        <hr class="border-neutral-300 dark:border-neutral-600" />
        <a href="/ctfs">
          <p>See More...</p>
        </a>
      </div>
    )
  }
</Card>
